html {
    --dimensiune-text: 14px;
}

body {
    --spatiere-pagina: 0px;
    margin: 0;
}

/* Task layout - Grid */
#grid-pagina {
    --grid-gap: 0.83rem;
    grid-template-areas: "zona1"
                         "zona2"
                         "zona3"
                         "zona4"
                         "zona5"
                         "zona6"
                         "zona7"
                         "zona8"
                         "zona9";                     
}

/* Scrollbar orizontal pentru container pe ecrane mici și medii */
.table-container {
    overflow-x: auto;
  }

.container-iframe{
    display: none;
}

h1{
    margin-top: 0;
}

header{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Grid galerie */
#grid-galerie {
    display: block;
}

#grid-galerie figcaption {
    text-align:center;
}