nav {
  --latime-buton:12rem;
  --inaltime-buton:1.5rem;
  --culoare-deschisa-meniu: var(--color-4);
  --culoare-inchisa-meniu: var(--color-5);
  --culoare-text-hover: var(--text-primary);
  --umbra-hover: inset 0 0 10px rgba(255, 255, 255, 0.7);
  --culoare-sageata: var(--text-primary);
  background-color: var(--culoare-deschisa-meniu);
  font-family: "Lora", serif;
}

#hamburger, #ch-menu {
  display: none;
}

ul.meniu div.imag-icon {
  display: none;
}

/* submeniu */
ul.meniu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.meniu ul {
  display: none;
  padding: 0;
  list-style-type: none;
  z-index: 3;
  position: relative;
  margin-left: -1px;
  animation-name: afis_submeniu;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: 50% 0;
}
ul.meniu ul li {
  position: relative;
}
ul.meniu ul li:hover::before {
  transform: translateX(100%);
  opacity: 1;
}
ul.meniu ul li::before {
  content: "";
  position: absolute;
  top: 25%;
  left: -5%;
  width: 0.9rem;
  height: 0.7rem;
  background-color: var(--culoare-sageata);
  clip-path: polygon(0 55%, 85% 55%, 60% 0%, 100% 50%, 60% 100%, 85% 60%, 0 65%);
  transition: transform 0.7s ease;
  opacity: 0;
}
ul.meniu li {
  background-color: var(--culoare-deschisa-meniu);
  width: var(--latime-buton);
  height: var(--inaltime-buton);
  line-height: var(--inaltime-buton);
  text-align: center;
  font-weight: bold;
  transition: all 0.5s linear;
  box-sizing: border-box;
}
ul.meniu li:hover {
  box-shadow: var(--umbra-hover);
  background-color: var(--culoare-inchisa-meniu);
}
ul.meniu li:hover a {
  color: var(--culoare-text-hover);
}
ul.meniu li:hover ul {
  display: block;
}
ul.meniu li div, ul.meniu li a {
  text-decoration: none;
  color: var(--text-secondary-1);
  display: block;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s linear;
}
ul.meniu li div:hover, ul.meniu li a:hover {
  color: var(--text-primary);
}

@keyframes afis_submeniu {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}